body {
    height: 100vh; /* 100% de la altura del viewport */
    margin: 0; /* Elimina los márgenes predeterminados del body */
}
.container {
    display: flex; /* Utiliza flexbox para organizar los elementos internos */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: flex-start; /* Alineación vertical */
   height: 100%;
   background-color: black;
}
.logo{
    color: #10bc8d;
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    background-color: #222630;
   
    width: 20%; /* El menú ocupa el 20% del ancho del contenedor principal */
    text-align: center;
    padding: 0.5rem;
height: 100%;
    display: flex;
    flex-direction: column; /* Disposición vertical */
    align-items: flex-start; /* Centrar elementos horizontalmente */
}
.navbar a {
    display: block;
    margin: 0 1rem;
    text-decoration: none;
    padding: 0.5rem 0 0.5rem 0;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 1.2rem;
}
.links{
display: flex;
width: 100%;
align-items: center;
height: 4rem;
}
.links:hover{
    background-color: rgba(16, 188, 141, 0.1);
    border-left: #10bc8d solid 3px;
    cursor: pointer;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
header{
    background: rgb(71,54,174);
    background: linear-gradient(16deg, rgba(71,54,174,1) 43%, rgba(6,165,142,1) 70%);
border-radius: 10px;    
    width: 100%;
    color: white;
    margin: 1rem;
}
header h1{
    padding-left: 4rem;
}

.btn-block{
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }
  .btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin: 1rem;
    font-size: x-large;
  }
  .primary {background-color: #10bc8d;} 
  .primary:hover {background: #0D9A71;}

.contenedorDinamico{
    display: flex;
    justify-content: normal;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Para que la imagen no se salga del contenedor */
    margin: 1rem;
    flex: 0 0 calc(22% - 1px);
}

.card img {
    width: 100%;
    height: auto; /* La imagen se ajusta al ancho del contenedor */
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo en la parte superior */
  
}

.card .info {
    padding: 1rem 10px 1rem 10px;
    background-color: #222630;
    color: white;
}
.nombreMateria{
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-bottom: 1rem;
}
.anioCard{
    font-family: 'Rubik', sans-serif;
    color: #10bc8d;
    margin-bottom: 1rem;
    font-weight: 300;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.material-symbols-outlined {
    font-size: 30px !important;
    color: #10bc8d;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #222630;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 2.5rem;
    color: white;
    margin-top: 0px;
    margin-bottom: 15px;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #10bc8d;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: #0D9A71;
    background-color: #fff;
}
input{
    display: block;
    width: 70%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.image-options{
    display: flex;
    width: 72%;
}
.image-option {
    width: 30%;
    height: 5rem;
    margin: 5px; /* Espacio entre las miniaturas */
    border: 2px solid transparent; /* Agrega un borde transparente a todas las miniaturas */
    border-radius: 10px;
}

.image-option.selected {
    border: 4px solid #0D9A71 ;
    border-radius: 10px;
}
.pDeImagen{
    color: white;
    margin: 0px;
    font-size: larger;
    font-weight: 600;
}
.contenedorPimagen{
    display: flex;
    width: 72%;
}
.modal__radios{
    display: flex;
    width: 72%;
}
.radio{
    height: 25px;
    cursor: pointer;
    width: 15%;
    margin: 0px;
}
.lblRadio{
    color: white;
}